@model PROYECTOED1_DiegoRamirez_DanielElias.Models.Data.Paciente

@{
    ViewData["Title"] = "Agregar Paciente";
}

<h1>Agregar Paciente</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AgregarPaciente">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DPI" class="control-label"></label>
                <input asp-for="DPI" class="form-control" />
                <span asp-validation-for="DPI" class="text-danger"></span>
            </div>

            <p>Elija departamento</p>
            <select asp-for="Departamento" title=" Seleccione departamento">
                <option></option>
                <option>Alta Verapaz</option>
                <option>Baja Verapaz</option>
                <option> Chimaltenango</option>
                <option>Chiquimula</option>
                <option> El Progreso</option>
                <option>Escuintla</option>
                <option>Guatemala</option>
                <option>Huehuetenango</option>
                <option>Izabal</option>
                <option>Jalapa</option>
                <option>Jutiapa</option>
                <option>Petén</option>
                <option>Quetzaltenango</option>
                <option>Quiché</option>
                <option> Retalhuleu</option>
                <option> Sacatepéquez</option>
                <option>San Marcos</option>
                <option>Santa Rosa</option>
                <option>Sololá</option>
                <option>Suchitepéquez</option>
                <option> Totonicapán</option>
                <option> Zacapa</option>



            </select>
            <div class="form-group">
                <label asp-for="Municipio" class="control-label"></label>
                <input asp-for="Municipio" class="form-control" />
                <span asp-validation-for="Municipio" class="text-danger"></span>
            </div>


            <p>Elija profesión</p>


            <select asp-for="Profesion" title="Seleccione profesión">

                <option></option>
                <option>Trabajador de salud</option>
                <option>Estudiantes de salud</option>
                <option>Cuerpos de socorro</option>
                <option>Trabajador de funeraria</option>
                <option>Cuidador de adultos mayores</option>
                <option>Seguridad nacional</option>
                <option>Trabajador de municipalidad</option>
                <option>Trabajador del sector justicia</option>
                <option>Trabajador del sector educación</option>
                <option>Otro</option>

            </select>


            <span asp-validation-for="Profesion" class="text-danger"></span>


            <div class="form-group">
                <label asp-for="Edad" class="control-label"></label>
                <input asp-for="Edad" class="form-control" />
                <span asp-validation-for="Edad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Menú Principal</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
